*{
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

input{
    border: 2px solid rgb(133, 133, 133);
}

body {
    display: flex;
}

button {
    display: grid;
    align-items: center;
    justify-content: center;
}