*{
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

input{
    border: 2px solid rgb(133, 133, 133);
}

.ficha{

}

.habilidades{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
}

.inventario{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
}

.second {
    display: flex;
    flex-direction: column; flex-direction: column;
}

.solid {
    margin-left: 5%;
}

input {
    margin: 10px;
}

h4 {
    margin-top: 5px;
    font-size: 1.25rem;
}

.aling{
    border: 2px solid transparent;
    margin-left: -35px;
}

.name {
    display: flex;
    align-items: top;
    justify-content: center;
    position: absolute;
    margin-top: -20px;
    background-color: rgb(255, 255, 255);
}

.personagem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
}

#name {
    margin-top: 50px;
    height: 1rem;
    border: transparent;
    border-bottom: 1px solid;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button {
    position: absolute;
    margin-top: 420px;
    font-size: 1rem;
    border: 3px solid ;
    border-radius: 25px;
}

.sobre {
    border: 2px solid;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
}