*{
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

input{
    border: 2px solid rgb(133, 133, 133);
}


.habilidades{
    display: flex;
    justify-content: end;
}

.second {
    display: flex;
    flex-direction: column; flex-direction: column;
}

::placeholder {
}

.solid {
    margin-left: 5%;
}

input {
    margin: 10px;
}

h4 {
    margin-top: 5px;
    font-size: 1.25rem;
}

.aling{
    border: 2px solid transparent;
    margin-left: -35px;
}